<h3 class="divmt">
 <%= DateTime.current.to_date.strftime("%B %e , %Y") %>
 </h3>

 <div class="d-flex align-items-start justify-content-start flex-row"> 
    <div class=" d-flex align-items-start m-5">
        <div>
            <main class="container">
                <div class="header">
                <h3>Categories</h3>
                <%= link_to "+ New Category",
                            new_category_path,
                            class: "btn btn-link" %>
                </div>
            
                <div class="category">
            
                <table class="table">
                
                    <thead class="thead-dark">
                        <tr >
                            <th scope="col">Cat id</th>
                            <th scope="col">Name</th>
                            <th scope="col">_Action_</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <%# render @categories %>
                        
                        <%  @categories.each do |category| %>
                           
                        
                       <tr>
                            <td><h6><%=  category.id  %></h6> </td>
                            <td><h5><%= link_to category.category_name, category_tasks_path(category)  %></h5></td>
                            <td class=" d-flex flex-row align-items-center justify-content-end"> 
                            <%= link_to  edit_category_path(category)   do %>
                                <i class="fa-solid fa-pen-to-square"></i>
                                <% end %>
                        
                                <%= button_to  category, method: :delete ,
                                class: "btn btn-link text-danger "  do %>
                                <i class="fa-solid fa-trash"></i>
                                <% end %> </td>
                       </tr>
                       <% end %>
                    </tbody>
                    
                    
                </table>
                
                </div>
            </main>
        </div>
    </div>

    <div class=" d-flex align-items-center  m-5 border border-dark rounded p-4">
        <div>
            <h5> Task/s for todaaay!</h5>
                <%# @tasks.count   %> 
                
            <% @tasks.each do |task| %>
                <ul>
                  <% if task.deadline == Date.today  && task.status == "false" %>
                 
                    <li> <%= task.task_name %> - <%= task.category_id %> </li>
                  <% end %>
              </ul>
              <% end %>
           

        </div>
    </div>
</div>



