<main class="container">
  <div class="header">
    <h1>Tasks</h1>
    <%= link_to sanitize("&larr; Back "),
                root_path,
                class: "btn btn-link m-1" %>

    <%= link_to "+ New task",
                new_category_task_path,
                class: "btn btn-link" %>
  </div>

  <div class="category">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th >Task</th>
        <th >Description</th>
        <th >Date</th>
        <th >Status</th>
        <th >Action</th>

      </tr>
    </thead>
      <tbody>
      
          <%# render @category_tasks %>
          <% @category_tasks.each do |task| %>
         <tr>
            <td><%= task.task_name %></td>
            <td><%=  task.desc  %></td>
            <td><%=  task.deadline.strftime('%b %d %Y') %></td>
            <td>
              <% if task.status == "false" %>
                  <span>Pending</span>
              <% else %>
                  <span>Completed</span>
              <% end %>
            </td>
            <td class=" d-flex flex-row align-items-center justify-content-end">
            <%= link_to edit_category_task_path(task.category_id, task) do %>
                <i class="fa-solid fa-pen-to-square"></i>
                <% end %>

            <%= button_to  category_task_path(task.category_id, task.id), method: :delete ,
                class: "btn btn-link text-danger" do %>
                    <i class="fa-solid fa-trash"></i>
                    <% end %>
            </td>
         </tr>
         <% end %>
      </tbody>
  </table>

  </div>

  
</main>