<%# form_with url: categories_path, data: { turbo: false } do |f|  %>
  <%= form_for(@category) do |f|  %>
    <% if category.errors.any? %>
      <div class="error-message">
        <%= category.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>
  
    <%= f.text_field :category_name %>
    <%= f.hidden_field :user_id, :value=>current_user.id %>
    <%= f.submit "Save" ,class: "btn btn-dark" %>
  <% end %>